@import '../node_modules/mini.css/dist/mini-default.min.css';
.card,
form {
  min-width: 300px;
  max-height: 450px;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
}

html,
body,
#root,
.container,
.center-page {
  height: 100%;
}

h1 {
  text-align: center;
}
.row,
.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
